body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  font-family: "Exo 2", sans-serif;
  color: #8e24aa;
}

h2 {
  font-family: "Catamaran", sans-serif;
  color: #8e24aa;
}

h4 {
  font-family: "Exo 2", sans-serif;
  margin-top: 10px;
}

blockquote {
  border-left: 7px solid #8e24aa;
}

span.card-title.purple-text {
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
  color: #8e24aa;
}

span.card-title {
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
}

strong {
  font-weight: bold;
  color: #8e24aa;
}

div.footNote {
  margin-right: 50px;
}

nav li a:hover {
  background: #4a148c;
}

div.clipart {
  width: 50% !important;
  max-width: 50% !important;
}

div.clipart2 {
  width: 30% !important;
  max-width: 30% !important;
}

#menu {
  margin-left: -40px;
}
